* {
  padding: 0;
  margin: 0;
}

.adduser {
  padding-left: 30%;
  justify-content: center;
  align-items: center; 
}
.adduserform{
    width: 500px;
    height: 350px;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    border: 1px solid;
    box-shadow: 0 0 10 rgb(0, 0.2 , 0.5);
    
 }
.adduserform .btn btn-primary{
    justify-content: end;
    padding: 15px;
}
.adduser h1 {
  padding: 30px;
}
label {
  padding: 10px;
}
input {
  justify-content: center;
  padding: 5px;
  outline: none;
  margin: 5px;
}
